
# Created by https://www.toptal.com/developers/gitignore/api/windows
# Edit at https://www.toptal.com/developers/gitignore?templates=windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# youtube Oauthv2 json file
client_secrets1.json
client_secrets2.json
client_secrets3.json
client_secrets4.json

#youtube api key file
api_key_thsvkd.txt

#Oauthv2 token file
thumbnail_generator.py1-oauth2.json
thumbnail_generator.py2-oauth2.json
thumbnail_generator.py3-oauth2.json
thumbnail_generator.py4-oauth2.json
thumbnail_generator.py5-oauth2.json
thumbnail_generator.py6-oauth2.json
thumbnail_generator.py7-oauth2.json
thumbnail_generator.py8-oauth2.json
youtube_api_test.py-oauth2.json

*.jpg
*.pyc
__pycache__
# End of https://www.toptal.com/developers/gitignore/api/windows
#
